/* 
#9356DC couleur Primaire 
#FF79DA couleur Secondaire
#99E2D0 couleur térrtiaire 
*/
.spinner_chargement {
    position: fixed;
    height: 100%;
    width: 100%;
    background:white;
  }
  
  .spinner {
    border-left: 5px solid #ffffff;
    border-right: 5px solid #FF79DA;
    border-top: 5px solid #9456dc;
    border-bottom: 5px solid #99E2D0;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    animation: spinner linear 1s infinite;
    margin: auto;
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .fin {
    animation: sortie 35s ease-in both;
  }
  
  @keyframes sortie {
    0% {
      transform: scale(1);
    }
    10% {
      background: transparent;
      transform: scale(0);
    }
    100% {
      transform: scale(0);
      background: transparent;
    }
  }
header
{
    display: flex;
    justify-content: center;
}

h1, h6 
{
    font-family: "Shrikhand";
}
  
body, html 
{
    font-family: "Roboto";
    margin: 0;
}
main img 
{
    object-fit: cover;
    height: 180px;
}
.fas.fa-map-marker-alt
{
    margin-left: 5rem;
    font-size: 20px;
    width: fit-content;
}
.localisation
{
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #eaeaea;
    justify-content:space-between;
    box-shadow: inset 0px 8px 12px -15px black;
    padding-right: 6rem;
}
.a_propos
{
    background-color: #f2f2f2;
    padding: 23px 16px 35px;
}
input
{
    background: none;

}
.btn
{
    margin-top: 1rem;
    margin-left: 3rem;
    font-size: 15px;
    color: #f2f2f2;
    padding: 18px 22px;
    border-radius: 26px;
    background: linear-gradient(#ff79da 0%, #9356dc 100%);
    transition: all 0.5s ease-out;
    border: none;

}
.btn:hover, .btn:active
{
    color: #6b6b6b;
    background: #ff79da;
}


.a_propos h2,.a_propos p
{
    text-align: center;
}

.liste_fonctionnement
{
    padding: 0;
}
.fonction
{
    margin-left: 8%;
    font-size: 13px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-right: 3%;
}
.choisir, .deguster
{
    margin-left: -13%;
}
.composer
{
    margin-left: -14%;
}
.choix
{
    display: flex;
    border-radius: 20px 20px 20px 20px;
    height: 60px;
    background: #F6F6F6;
    box-shadow: 0 5px 10px 0 white;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    margin-bottom: 24px;
}
.fa-mobile-alt
{
    margin-left: -35%;
    color: grey;
}
.fa-list-ul:before
{
    margin-left: -29%;
    color: grey;
}
.fa-store:before
{
    margin-left: -29%;
    color: grey;
}

.choisir , .composer , .deguster
{
    width: 9%;
    height: 40%;
    border-radius: 50%;
    background-color: #9356DC;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}
.choix-menu 
{
    color: black;
    margin-right: 18%;
}
.choix-menu2
{
    margin-right: 36px;
}
.choix:hover 
{
  cursor: pointer;
  transition-duration: 0.25s;
  color: #9456dc;
  background-color: #9256dc25;
}
li 
{
    list-style-type: none;
}
.titre_restaurant
{
    width: 100%;
    margin-left: 7%;
}
.all_restaurant
{
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    flex-direction: column;
}
img
{
    width: 100%;
    border-radius: 15px 15px 0 0 ;
}
.all_restaurant, .restaurant 
{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.restaurant
{
    background-color:#F6F6F6 ;
}
a
{
    text-decoration: none;
    color: white;
}
article
{
    width:94%;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0;
    height: 250px;
    margin-left: 4%;
    margin-top: 13%;
}
.Nouveau_palette
{
    position: absolute;
    display: flex;
    color: black;
    font-weight: bold;
    background-color: #99E2D0;
    margin-top: -135%;
    margin-left: 70%;
    width: 22%;
    height: 4%;
    align-items: center;
    justify-content: center;
}
.Nouveau_note
{
    position: absolute;
    display: flex;
    color: blueviolet;
    font-weight: bold;
    background-color: #99E2D0;
    margin-left: 71%;
    margin-top: 40%;
    width: 22%;
    height: 4%;
    align-items: center;
    justify-content: center;
}
.aime, .caption 
{
    position: absolute;
}
.caption
{
    line-height: 3px;
    margin-left: 5%;
    margin-top: -2%;
}
.aime
{
    display: flex;
    justify-content: center;
    margin-left: 80%;
    margin-top: 8%;
    font-size:24px ;
    
}
.coeur
{
    font-size: 25px;
    color: #f2f2f2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: grey;
}
.coeur:hover
{
  cursor: pointer;
  background: linear-gradient(to bottom left, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0;
}
footer h3
{
    font-family: "Shrikhand";
    margin-left: 12%;
}

li
{
    display: flex;
}
.icone 
{
    width: 10%;
}
footer 
{
    background:#353535;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: "roboto", sans-serif;
    width: 101%;
    margin-top: 19%;
}
ul
{
    line-height: 25px;
}

@media screen and (min-width: 700px) and (max-width: 1024px) {
    
    .localisation
    {
        padding-right: 20rem;
    }
    .fas.fa-map-marker-alt
    {
        margin-left: 20rem;
    }
    .btn
    {
        margin-left: 35%;
        margin-top: 10%;
    }
    .all_restaurant
    {
        display: flex;
        flex-flow: nowrap;
        width: 25%;
    }
    .restaurant{
        display: flex;
        flex-flow: nowrap;
        width: 25%;
    }
  }